@import url('index.css');

body.scroll-none{
  overflow: hidden;
}

.app{
  height: 89vh;
}

.arrow-top{
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

#light-mode-bg{
  background-color: var(--light-mode-bg-body);
  color: var(--text-light);
}

#dark-mode-bg{
  background-color: var(--dark-mode-bg-body);
  color: var(--text-dark);
}

#light-mode-elements{
  background-color: var(--light-mode-elements);
  color: var(--text-light);
}

#dark-mode-elements{
  background-color: var(--dark-mode-elements);
  color: var(--text-dark);
}

.container{
  width: 95%;
  max-width: 1400px;
  margin: auto;
}